<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>NAICS Browser</title>
    <meta name='description' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700'>
    <link rel='stylesheet' href='stylesheets/styles.css'>
    <script src='js/vendor/modernizr.custom.66319.js'></script>
  </head>
  <body>
  <!--[if lt IE 9]>
      <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <section id='main' role='main' class='viewport'>
    <div class='left-column'>
      <h1><a href='?'>NAICS Browser</a></h1>

      <div class='search-box'>
        <form id='search-form'>
          <input id='search-input' type='text' placeholder='search'>
        </form>
      </div>

      <div class='search-results'>
        <div class='search-loading' id='search-loading'>
          <div class='loading-spinner'></div>
          <div class='loading-message'>Searching...</div>
        </div>

        <ul class='search-results-list'></ul>
      </div>
    </div>
    <div class='right-column'>
      <div id='frontpage' style='display: none;'>
        <div class='crumbs'>
          Introduction
        </div>

        <p>
          This is an alternative to the NAICS website hosted by the <a href='http://www.census.gov/eos/www/naics/index.html' target='_blank'>US Census Bureau</a>. It uses <a href='http://naics.codeforamerica.org/' target='_blank'>Code for America's NAICS API</a> to provide a more user-friendly interface. The code is <a href='https://www.github.com/louh/naics-browser' target='_blank'>open source</a>.
        </p>

        <p>
          For a sample NAICS code, <a href='?year=2012&code=519120'>take a look at this one.</a>
        </p>

        <ul class='pills js-naics-year-select'>
          <li class='naics-year pill'>2007</li>
          <li class='naics-year pill pill-selected'>2012</li>
        </ul>
      </div>

      <div id='message'>
      </div>

      <div class='loading' id='loading'>
        <div class='loading-spinner'></div>
        <div class='loading-message'>Retrieving...</div>
      </div>

      <div id='view'>
      </div>
    </div>
  </section>

  <section id='templates'>

    <script type='text/template' id='template-record'>

      <div id='record'>
        <div class='naics-view'>
          <div class='crumbs'>
            <span class='naics-year'><%= year %> NAICS</span>
            <span class='naics-level level2'>Sector <%= twoDigit.code %> &ndash; <%= twoDigit.title %></span>
          </div>

          <h2>
            <span class='naics-code'><%= code %></span>
            <span class='naics-title'><%= title %></span>
          </h2>

          <% if (typeof trilateral !== 'undefined' && trilateral == 1) { %>
          <p class='note'>
            Canadian, Mexican, and United States industries are comparable.  <a href='#'>Learn more</a>
          </p>
          <% } %>

          <% if (typeof description !== 'undefined') { %>
          <div class='naics-description'>
            <% if (typeof description_code !== 'undefined') { %>
              <p>
                <a href='?year=<%= year %>&code=<%= description_code %>'><%= description[0] %></a>
              </p>
            <% } else { %>
              <% for (var paragraph in description) { %>
              <p>
                <%= description[paragraph] %>
              </p>
              <% } %>
            <% } %>
          </div>
          <% } %>

          <% if (typeof examples !== 'undefined') { %>
          <div class='naics-examples'>
            <h3>Illustrative examples</h3>

            <ul>
              <% for (var item in examples) { %>
              <li><%= examples[item] %></li>
              <% } %>
            </ul>
          </div>
          <% } %>

          <% if (typeof crossrefs !== 'undefined') { %>
          <div class='naics-crossrefs'>
            <h3>Cross references</h3>

            <% if (crossrefs.length > 1) { %>
            <p>Establishments primarily engaged in&mdash;</p>
            <% } %>

            <ul>
              <% for (var item in crossrefs) { %>
              <li><%= crossrefs[item].text %></li>
              <% } %>
            </ul>
          </div>
          <% } %>

          <!-- DISABLED -->
          <% if (typeof conversions !== 'undefined') { %>
          <div class='naics-conversions'>
            <h3>Index entries</h3>

            <table>
              <thead>
                <tr>
                  <td>2002 NAICS</td>
                  <td>2007 NAICS</td>
                  <td>2012 NAICS</td>
                  <td>Corresponding Index Entries</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>CAD (computer-aided design) systems integration design services</td>
                </tr>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>CAE (computer-aided engineering) systems integration design services</td>
                </tr>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>CAM (computer-aided manufacturing) systems integration design services</td>
                </tr>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>Computer hardware consulting services or consultants</td>
                </tr>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>Computer software consulting services or consultants</td>
                </tr>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>Computer systems integration analysis and design services</td>
                </tr>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>Computer systems integration design consulting services</td>
                </tr>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>Computer systems integrator services</td>
                </tr>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>Computer-aided design (CAD) systems integration design services</td>
                </tr>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>Computer-aided engineering (CAE) systems integration design services</td>
                </tr>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>Computer-aided manufacturing (CAM) systems integration design services</td>
                </tr>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>Information management computer systems integration design services</td>
                </tr>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>Local area network (LAN) computer systems integration design services</td>
                </tr>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>Network systems integration design services, computer</td>
                </tr>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>Office automation computer systems integration design services</td>
                </tr>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>Systems integration design consulting services, computer</td>
                </tr>
                <tr>
                  <td>541512</td>
                  <td>541512</td>
                  <td>541512</td>
                  <td>Systems integration design services, computer</td>
                </tr>
              </tbody>
            </table>
          </div>
          <% } %>
        </div>
      </div>

      <div class='link'>
        <div class='link-json'>
          <a href='http://naics.codeforamerica.org/v0/q?year=<%= year %>&code=<%= code %>'>View this data as JSON.</a>
          <a href='http://www.census.gov/cgi-bin/sssd/naics/naicsrch?code=<%= code %>&search=<%= year %>%20NAICS%20Search'>View on Census website.</a>
        </div>
      </div>

    </script>

  </section>


  <script src='js/vendor/underscore-min.js'></script>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
  <script>window.jQuery || document.write('<script src=\'js/vendor/jquery-1.10.2.min.js\'><\/script>')</script>

  <script src='js/vendor/foundation.min.js'></script>

  <script src='js/plugins.js'></script>
  <script src='js/main.js'></script>

  </body>
</html>
