// Foundation Settings
// These override the settings found in ./foundation/_settings.scss

@import "foundation/functions";

$rem-base: 16px;

$body-bg: #f2f6fa;
$body-font-family: $body-font;

$primary-color: $color-scheme;
