// Foundation Settings
// These override the settings found in ./foundation/_settings.scss

@import "foundation/functions";

$rem-base:                16px;

$body-bg:                 #f8f8f8;
$body-font-family:        $body-font;

$primary-color:           $color-scheme;

// Topbar
$topbar-bg-color:         lighten($body-bg, 6%);
$topbar-height:           60px;
$topbar-title-weight:     normal;
$topbar-title-font-size:  20px;
