@import 'vendor/normalize.css';
@import 'vendor/main.css'; // HTML5 Boilerplate default CSS file

// VARIABLES
$color-scheme:        #21687f;
$lightgray:           #d9d9d9;

// TYPOGRAPHY
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Lora:400,700);

$body-font:   'Lora', serif;
$accent-font: 'Open Sans', 'Helvetica Neue', sans-serif;

// IMPORTS
@import 'bourbon/bourbon';
@import 'settings';
@import 'foundation';

// RESETS
* {
  box-sizing: border-box;
}

// LAYOUT

body, html {
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: 14px;
}

#main {
  @media #{$small} {
    padding: 30px 30px 60px;
  }
  padding: 16px 0;
  background-color: white;
  box-shadow: 0 0 4px rgba(0,0,0,0.15);
  min-height: 100%;
}

.note {
  font-size: 90%;
  color: #999;
}

h1 {
  line-height: 100%;
  margin: 1.5rem 0;
}

.naics-description {
  font-size: 125%;
}

.crumbs {
  font-size: 90%;
  font-family: $accent-font;
  .naics-page {
    font-weight: bold;
    a {
      color: desaturate(lighten($color-scheme, 30%), 40%);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .naics-year {
    font-weight: bold;
    &::before {
      content: ' / ';
    }
  }
  .naics-level::before {
    content: ' / ';
  }
}

table {
  width: 100%;
  font-size: 80%;
  thead {
    font-weight: bold;
    background-color: #e9e9e9;
  }
  tr {
    border-bottom: 1px solid $lightgray;
    vertical-align: top;
  }
  td {
    padding: 5px 0;
  }
}

.link {
  border-top: 1px solid $lightgray;
  padding-top: 16px;
  font-family: $accent-font;
}

.error {
  font-weight: bold;
  color: red;
}
