@import 'vendor/normalize.css';
@import 'vendor/main.css'; // HTML5 Boilerplate default CSS file

// VARIABLES
$color-scheme: #368fc8;
$lightgray: #d9d9d9;

// TYPOGRAPHY

$body-font: 'Source Sans Pro', sans-serif;
$accent-font: 'Montserrat', sans-serif;

// IMPORTS
@import 'settings';
@import 'foundation';

// RESPONSIVE BREAKPOINTS
$medium-up: 'only screen and (min-width: 40.063em)';

// RESETS
* {
  box-sizing: border-box;
}

// LAYOUT
body, html {
  height: 100%;
}

body {
  color: #494949;
  font-weight: 400;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.viewport {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;

  @media #{$medium-up} {
    position: fixed;
    top: 3em;
    left: 3em;
    right: 3em;
    bottom: 3em;
    padding: 0;
    overflow: hidden;
  }

  @media #{$large-up} {
    left: 6em;
    right: 6em;
  }
}

.note {
  font-size: 90%;
  color: #999;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: $accent-font;
  line-height: 1.1;
}

h1 {
  font-size: 1em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1em;

  a,
  a:hover,
  a:active,
  a:visited {
    color: inherit;
  }
}

h2 {
  font-size: 2.3rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.left-column {
  position: relative;
  width: auto;
  margin-bottom: 1em;

  @media #{$medium-up} {
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
    bottom: 0px;
    overflow: hidden;
  }

  > * + * {
    margin-top: 1em;
    margin-bottom: 0;
  }
}

.right-column {
  position: relative;
  width: auto;
  left: 0;
  right: 0;

  @media #{$medium-up} {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 230px;
  }
}

.search-box {
  margin-top: 1.4em;

  input {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.10);
    border-bottom: 1px solid rgba(0,0,0,0.10);
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
    line-height: 2em;
    background: transparent;
  }
}

.search-results {
  position: absolute;
  bottom: 0;
  top: 80px;
  width: 100%;
  overflow-y: auto;

  ul {
    margin-left: 0;
  }
  li {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-right: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.10);
  }
  li:last-of-type {
    border-bottom: 0;
  }
}

.search-loading {
  display: none;
}

.pills {
  user-select: none;
  margin-left: 0;
  margin-top: 1em;

  .pill {
    display: inline-block;
    padding: 2px 12px;
    margin: 0;
    border: 2px solid #3c3d3e;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    color: #3c3d3e;
  }
  .pill + .pill {
    margin-left: 0.25em;
  }
  .pill-selected {
    background-color: #3c3d3e;
    color: white;
  }
}

#record {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px; // For scrollbar
}

.naics-description {
  font-size: 125%;
}

.crumbs {
  font-family: $accent-font;
  font-weight: 400;
  font-size: 1em;
  color: rgba(92,92,92,0.5);
  line-height: 1.1;
  margin-bottom: 1em;

  .naics-year {
    font-weight: 600;
  }
  .naics-level {
    font-weight: 300;
    &::before {
      content: ' / ';
    }
  }
}

.naics-code {
  color: rgba(92,92,92,0.5);
  font-weight: 300;
  font-size: 90%;
  letter-spacing: -0.5px;
}
.naics-title {
  font-weight: 400;
}

table {
  width: 100%;
  font-size: 80%;
  thead {
    font-weight: bold;
    background-color: #e9e9e9;
  }
  tr {
    border-bottom: 1px solid $lightgray;
    vertical-align: top;
  }
  td {
    padding: 5px 0;
  }
}

.link {
  border-top: 1px solid $lightgray;
  padding-top: 16px;
  font-family: $accent-font;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f2f6fa;
}

.loading {
  display: none;
}
.loading-spinner {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.8em solid rgba(192, 192, 192, 0.2);
  border-right: 0.8em solid rgba(192, 192, 192, 0.2);
  border-bottom: 0.8em solid rgba(192, 192, 192, 0.2);
  border-left: 0.8em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spinner 1.1s infinite linear;
  animation: spinner 1.1s infinite linear;
}
.loading-spinner,
.loading-spinner:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-message {
  text-align: center;
}

.error {
  font-weight: bold;
  color: red;
}

.browsehappy {
  background-color: #ffffef;
  margin: 0;
  padding: 5px 20px;
  border-bottom: 1px solid lightgray;
  z-index: 9999;
}
