/* RESETS */
* {
  box-sizing: border-box;
}

/* LAYOUT */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
}

body {
  color: #494949;
  background-color: #f2f6fa;
}

a {
  color: #368fc8;
  line-height: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* FALLBACKS */
.browsehappy {
  background-color: #ffffef;
  margin: 0;
  padding: 5px 20px;
  border-bottom: 1px solid lightgray;
  z-index: 9999;
}
